.bg{
    width:100%;
    height: 100vh;
    background-color: aqua;
    background-size:cover;
    background-position: center;
    display:flex;
    align-items:center;
    justify-content: center;
img{
    width:100px;
    height: 100px;
    border-radius: 50%;
    border-bottom: white;
}
}
.profile{
    width: 300px;
    height: 400px;
    border-radius: 20%;
    background: fixed#ff574a;
    text-align:center;
}
#insta{
    width:20px;
    height: 20px;
}
#tele{
    width:20px;
    height: 20px;
}
#twitter{
    width:20px;
    height:20px;
}